<h2><b><%= link_to @selected_event.theme, :controller=>'events', :action=>'index', :eventID=>@selected_event.id %></b></h2>
</br></br>
<%= @selected_event.introduction%>
</br></br>
<% if @selected_event.eventimages.first != nil%>
	<%= image_tag @selected_event.eventimages.first.image.url(:small)%>
<% end %>
</br></br>


<b><%= link_to "Go to event map", :controller=>'events', :action=>'index', :eventID=>@selected_event.id %></b>

</br></br>
